parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:__construct\\(\\) has parameter \\$config with no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:_debug\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:_debug\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:_debug\\(\\) has parameter \\$source with no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:configure\\(\\) has parameter \\$config with no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:send_command\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:set_state\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:set_state\\(\\) has parameter \\$state with no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:state\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Method AmpacheApi\\\\AmpacheApi\\:\\:validate_command\\(\\) has parameter \\$command with no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$_debug_callback has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$_debug_output has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$api_auth has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$api_secure has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$api_state has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$api_url has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$handshake_time is never read, only written\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$handshake_version is never read, only written\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$password has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$server has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

		-
			message: "#^Property AmpacheApi\\\\AmpacheApi\\:\\:\\$username has no type specified\\.$#"
			count: 1
			path: src/AmpacheApi.php

